/* PRIMO BANNER */
body::before {
    content: "Systemstörung – Bestellmöglichkeiten unter 'ETH-Kurier und weitere Lieferoptionen' eingeschränkt/System disruption – request options in 'ETH courier and further delivery options' restricted";
    display: inline-block;
    text-align: center;
    width: 100%;
    color: black;
    font-size: 16px;
    background-color: #FEF3BE;
    padding: 10px;
    border-bottom: solid 1px rgba(58,58,58,.2);
}
/* END primo banner */
